<div class="w3-center w3-2018-nebulas-blue clearfix w3-padding">
  <h1>TODO app</h1>
</div>
<div class="w3-row" style="display:flex">
  <div class="w3-padding w3-card w3-round w3-col s10 m9 l7 w3-section w3-2018-coconut-milk" style="margin:auto">
    <form #newTaskForm="ngForm" (ngSubmit)="newTaskFn()">
      <h3>Agregar Tarea</h3>
      <label for="title">Titulo</label>
      <input #title="ngModel" [(ngModel)]="newTask.title" class="w3-input" type="text" name="title" placeholder="Titulo" required>
      <label for="descripción">Descripción</label>
      <input #descripción="ngModel" [(ngModel)]="newTask.description" class="w3-input" type="text" name="descripción" placeholder="Descripción">
      <label for="date">Fecha</label>
      <input #date="ngModel" [(ngModel)]="dateString" class="w3-input" type="datetime-local" name="date">
      <input #important="ngModel" [(ngModel)]="newTask.important" class="w3-check" type="checkbox" name="important">
      <label for="important"> Importante</label><br>
      <div class="w3-padding">
        <h5>Lista</h5>
        <div *ngFor="let item of newTask.list; let i = index; trackBy: trackByFn">
          <label for="item{{i}}">Nota</label>
          <input class="w3-input" [(ngModel)]="newTask.list[i]" name="item{{i}}" type="text" placeholder="Descripción">
        </div>
        <button class="w3-button w3-round w3-2018-russet-orange" type="button" (click)="addItem()">Agregar Elemento</button>
      </div><br>
      <button type="submit" class="w3-button w3-round w3-2018-russet-orange w3-right">Agregar</button>
    </form>
  </div>
</div>

<div *ngFor="let task of collection; let i = index" class="w3-row" style="display:flex">
  <!--  Imoprtant Tasks  -->
  <div *ngIf="task.important" class="w3-animate-opacity w3-2018-little-boy-blue w3-padding w3-card w3-round w3-col s10 m9 l7 w3-section" style="margin:auto">
    <input [(ngModel)]="collection[i].checked" (ngModelChange)="updateCollection()" class="w3-check" type="checkbox" name="check{{i}}">
    <label for="check{{i}}" class="w3-large"> {{task.title}} <span class="w3-2018-meadowlark w3-round"> IMPORTANTE! </span></label>
    <span class="w3-right w3-opacity">{{task.date | date: 'MMM d, y, h:mm a'}}</span>
    <p>{{task.description}}</p>
    <ul>
      <li *ngFor="let item of task.list">{{item}}</li>
    </ul>
    <button class="w3-button w3-2018-valiant-poppy w3-round w3-right" (click)="deleteTask(i)">Borrar</button>
  </div>
  <!--  No Imoprtant Tasks  -->
  <div *ngIf="!task.important" class="w3-animate-opacity w3-padding w3-card w3-round w3-col s10 m9 l7 w3-section w3-2018-coconut-milk" style="margin:auto">
    <input [(ngModel)]="collection[i].checked" (ngModelChange)="updateCollection()" class="w3-check" type="checkbox" name="check{{i}}">
    <label for="check{{i}}" class="w3-large"> {{task.title}}</label>
    <span class="w3-right w3-opacity">{{task.date | date: 'MMM d, y, h:mm a'}}</span>
    <p>{{task.description}}</p>
    <ul>
      <li *ngFor="let item of task.list">{{item}}</li>
    </ul>
    <button class="w3-button w3-2018-valiant-poppy w3-round w3-right" (click)="deleteTask(i)">Borrar</button>
  </div>
</div>


<!--<h3>{{test.title}}</h3>
<p>{{test.date | date: 'MMM d, y, h:mm a'}}</p>-->